<div class="container text-center mx-auto">
  <div class="dropdown my-4">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      類別
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/?categoryId=1">家居物業</a></li>
      <li><a class="dropdown-item" href="/?categoryId=2">交通出行</a></li>
      <li><a class="dropdown-item" href="/?categoryId=3">休閒娛樂</a></li>
      <li><a class="dropdown-item" href="/?categoryId=4">餐飲食品</a></li>
      <li><a class="dropdown-item" href="/?categoryId=5">其他</a></li>
    </ul>
  </div>
  <div class="d-flex justify-content-center"> 
    <div class="mx-4">總金額: </div>
    <div class="fs-1 text-success">{{ totalAmount }}</div>
  </div>
  <table class="table table-striped my-4">
    {{#each expenses}}
    <tr>
      <td class="d-flex align-items-center">
        <div class="mx-4">{{{ this.categoryId }}}</div>
        <div>
          <div class="text-start">{{ this.name }}</div>
          <div class="text-start">{{ this.date }}</div>
        </div>
      </td>
      <td class="align-middle">{{ this.amount }}</td>
      <td class="align-middle">
        <form id="delete" action="/expenses/{{ this._id}}?_method=DELETE" method="post">
          <a href="/expenses/{{ this._id }}/edit" class="btn btn-secondary">修改</a>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#deleteCheck">刪除</button>
          <!-- Modal -->
          <div class="modal fade" id="deleteCheck" tabindex="-1" aria-labelledby="deleteCheckLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  確定刪除此筆支出?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                  <button type="submit" class="btn btn-danger" form="delete">刪除</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </td>
    </tr>
    {{/each}}
  </table>
  <a href="/expenses/new" class="btn btn-primary">新增支出</a>
</div>